*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: 'Signika Negative', sans-serif;
    background: black;
    text-align: center;
    color: white;
}

section{
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    display:table;
    width:960px;
    margin:0 auto;
    height:100%;
    background:none;
}

div.container{
    display:table-cell;
    vertical-align:middle;
    background:none;
    width:960px;
}

div.container img{
    max-width:90%;
    max-height:90%;
}

h1{
    font-size: 55pt;
}

h2{
    font-size: 44pt;
}

h3{
    font-size: 40pt;
}

h4{
    font-size: 36pt;
}

h5{
    font-size: 34pt;
}


p{
    font-size: 32pt;
}

ul,ol{
    margin-left: 10px;
    text-align: left;
    font-size: 32pt;
}

a{
    font-weight: bold;
    color: white;
}

p.center{
    text-align:center;
}
p.left{
    text-align:left;
}
p.right{
    text-align:right;
}
