body{
    font-family: sans-serif;
    background: black;
    text-align: center;
    color: white;
}

div{
    width: 80%;
    margin-left: 10%;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
}

#tools{
    position: absolute;
    right: 50px;
    bottom: 50px;
    color: white;
}

.button{
    margin-left: 10px;
    padding: 10px;
    border: 2px white solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
}

.button:hover{
    background: white;
    color: black;
}

h1{
    font-size: 55pt;
}

h2{
    font-size: 44pt;
}

h3{
    font-size: 40pt;
}

h4{
    font-size: 36pt;
}

h5{
    font-size: 34pt;
}


p{
    font-size: 32pt;
}

ul,ol{
    margin-left: 10px;
    text-align: left;
    font-size: 32pt;
}

a{
    font-weight: bold;
    color: white;
}

#transformer{
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
}

#transformer:hover{
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    color: yellow;
    font-size: 40pt;
    font-weight: bold;
    text-decoration: underline;
}

span{
    font-size: 30pt;
}
